:root {
    --pink: #7071E8;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.8);
    --text1 : #C683D7;
    --text2 : #ED9ED6;
    --text3 : #FFC7C7;
    --pink1: #f80894;
    --bg3 : #53a5fc;
    --sputih: 0 2px 2px  rgba(255, 255, 255, 0.8);
}
body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 4000px;
}
/* shadow font */
.hero h1,
.hero h3,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg\ 1.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(6px);
}
.home,
.info {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg3.png);
    background-size: cover;
    background-position: center;
    z-index: -2;
}
.hero,
.home {
    position: relative;
    min-height: 100vh;
}
.hero span {
    background-color: var(--pink);
    padding: 2rem 2rem;
    border-radius: 6rem;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Roboto';
    margin-bottom: 5rem;
}
.hero h1
{
    font-family: 'Pacifico', cursive;
    font-size: 4.5rem;
}
.hero h4 {
    font-size: 2rem;
    font-family: 'Dancing Script';
}
.hero p {
    font-size: 3rem;
}
.hero a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}
.hero a:hover {
    background-color: var(--pink);
    color: white;
}
.home {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.home h2,
.home h4,
.info h2,
.story h2,
.gallery h2,
.rsvp h2 {
    font-family: 'Dancing Script';
    font-size: 2.5rem;
    color: var(--pink);    
}
.info .cd {
    font-family: 'Dancing Script';
    font-size: 3rem;
    padding-top: 1rem;
    color: var(--pink);    
}
.info .simply-countdown {
    color: white;
}
.home h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: var(--sputih);
}
.home h5 {
    color: var(--bg3);
    font-size: 1.5rem;
    font-weight: 500;
}
.home p {
    font-size: 1.3rem;
    font-weight: 400;
}
.home .couple {
    margin-top: 100px;
}
.home .couple img {
    width: 100%;
}
.home .heart {
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0 0 0 / 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}
.home .heart i {
    margin: auto;
    color: var(--pink1);
}
.info .alamat,
.story h3 {
    font-size: 1.1rem;
    font-weight: bold;
}
.info .description {
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
}
.info .card {
    background-color: rgba(7, 0, 0, 0.7) !important;
    color: white !important;
    border: 1px solid white;
}
.info .card-header {
    border-bottom: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.info .card-body {
    font-size: 1.2rem;
}
.info .card-footer {
    border-top: 1px solid white;
    font-size: 1rem;
    font-weight: 400;
}
.info,
.story,
.gallery,
.rsvp,
.gifts {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.story span,
.gifts span {
    text-transform: uppercase;
    color: #666;
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
}
.story p,
.gallery p,
.rsvp p,
.gifts p {
    font-size: 1.1rem;
    font-weight: 400;
}
.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}
.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}
.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}
.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}
.timeline li::after {
    clear: both;
}
.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 2px solid #ccc;
    padding: 0.9rem;
    position: relative;
    border-radius: 8px;
}
.timeline li.timeline-inverted .timeline-panel {
    float: right;
}
.gallery {
    background-color: var(--text3);
}
.rsvp {
    background-color: var(--bg);
}
.rsvp h2 {
    font-size: 4.5rem;
}
.rsvp p {
    color: white;
}
.rsvp form label {
    color: white;
}
.rsvp button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}
.rsvp button:hover {
    background-color: white;
    color: var(--pink);
    border: 1px solid white;
}
footer {
    padding: 3rem;
    background-color: var(--pink);
    color: white;
    padding-bottom: 7rem;
}
footer a
{
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
    font-size: 2rem;
}
.audio-icon-wrapper {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    position: fixed;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.7;
    mix-blend-mode: difference;
}
.story h3 {
    padding-top: 1.2rem;
}
.gallery span {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerNav {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 4;
    background: #252525;
    backdrop-filter: blur(5px);
    bottom: 2rem;       
    padding: 1rem 1rem;
    border-radius: 15px;
    gap: 1rem;
}
.iconNavbar {
    font-size: 2rem;
    color: white;
    padding: 1rem;
}
.iconNavbar:hover {
    font-size: 2rem;
    color: #036ffc;
    padding: 1rem;
}
/* media query */
/* Extra Large */
@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section {
        padding: 60px;
    }
    .home .heart {
        display: none;
    }
    .timeline::before {
        left: 60px;
    }
    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
        width: 130px;
        height: 130px;
    }
    .timeline li .timeline-panel {
        width: calc((100%-200px));
        float: right;
        width: 78%;
        top: 15px;
    }
}
/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 70%;
    }
    .simply-countdown>.simply-section {
        padding: 50px;
    }
    .sticky-top {
        overflow: hidden;
    }
    .timeline li .timeline-image {
        width: 130px;
        height: 130px;
    }
    .timeline li .timeline-panel {
        width: 70%;
        transform: translateX(-20px);
        top: 15px;
    }
}
/* mobile */
@media (max-width: 576px) {
    html {
        font-size: 65%;
    }
    .simply-countdown>.simply-section {
        padding: 35px;
    }
    .timeline li .timeline-image {
        width: 120px;
        height: 120px;
    }
    .timeline li .timeline-panel {
        width: 60%;
        transform: translateX(-18px);
        top: 15px;
    }

}